#answers {
  list-style: none;
  -webkit-columns: 2; /* For Safari and Chrome */
  -moz-columns: 2; /* For Firefox */
  columns: 2;
  }
  
#answers li {
  break-inside: avoid-column;
  margin-bottom: 10px;  
}

.radio-highlight:hover {
  background-color: #dbd5d5; /* Light grey background on hover */
  cursor: pointer;
  border: none;
  
}


.atlasMainLogo {
  width: 30vw;
  height: 30vw
}  

  