#answers {
  list-style: none;
  columns: 2;
  }
  
#answers li {
  break-inside: avoid-column;
  margin-bottom: 10px;  
}

.radio-highlight:hover {
  background-color: #dbd5d5; /* Light grey background on hover */
  cursor: pointer;
  border: none;
  
}


.earSingingImage {
  width: 40vw;
  height: 40vw
}  

  